<!-- message.type =0 -> received msg / message.type =1 -> sent message -->
<div class="col m9 s12 no-padding grey lighten-3 chat-box scroll">
  <div ng-repeat="message in currentChat.messages">
    <div class="row" style="margin-top:5px; margin-bottom:0px;">
      <div class="col m12 s12">
        <div ng-class="{'float-right': message.type === 1}" style="max-width: 90%;">
          <span class="grey-text lighten-5" ng-show="message.type !== currentChat.messages[$index + 1].type && message.type === 1" style="font-size:80%;">{{message.time}}</span>
          <div ng-class="{'tri-right left-top': message.type !== currentChat.messages[$index -1].type &&   message.type === 0, 'tri-left right-top': message.type !== currentChat.messages[$index -1].type && message.type === 1}" class="talk-bubble round" style="white-space: normal !important;">
            <div style="word-wrap: break-word" ng-class="{'talktext-right': message.type === 1, 'talktext': message.type === 0}">
              <p style="word-wrap: break-word">{{message.content}}</p>
            </div>
          </div>
          <span class="grey-text lighten-5" ng-show="message.type !== currentChat.messages[$index + 1].type && message.type === 0" style="font-size:80%;">{{message.time}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer col m9 offset-m3 s12 bottom-right-rounding">
  <form name="form" ng-submit="send(formMessage); formMessage=''" role="form" class="row">
    <div class="file-field input-field col m1 s1">
      <input type="file" ng-model="formFile">
      <span><i id="attach-file" class="material-icons">attach_file</i></span>
    </div>
    <div class="input-field col l9 m8 s9">
      <textarea id="message" ng-model="formMessage" ng-required="true" placeholder="Type your message" class="materialize-textarea scroll">
      </textarea>
    </div>
    <div class="input-field col l1 m2 s1 hide-on-small-only">
      <a ng-disabled="form.$invalid" ng-click="send(formMessage); formMessage=''" class="waves-effect waves-light btn" style="
    height: 5.7vh;">send</a>
    </div>
    <div class="input-field col s1 hide-on-med-and-up show-on-small">
      <a ng-disabled="form.$invalid" ng-click="send(formMessage); formMessage=''" class="btn-floating waves-effect waves-light"><i class="material-icons">send</i></a>
    </div>
  </form>
</div>

<script>
  $("#message").keypress(function(e) {
    if (e.which == 13 && !e.shiftKey) {
      $(this).closest("form").submit();
      e.preventDefault();
      return false;
    }
  });
  // $(".chat-box").scrollTop = $(".chat-box").scrollHeight;
</script>
