<div class="col m3 hide-on-small-only no-padding white chat-navbar">
  <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width grey lighten-2">
    <li class="tab col s3"><a href="#recent-chats" class="active"><i class="material-icons" >chat</i></a></li>
    <li class="tab col s3"><a href="#contacts"><i class="material-icons">supervisor_account</i></a></li>
    <li class="tab col s3"><a href="#searchFor"><i class="material-icons">search</i></a></li>
  </ul>
  <ul id="recent-chats" class="no-margin collection nav-container scroll">
    <li ng-repeat="contact in contacts">
      <a href="#!" ng-click="openChat($index, contact.id);" class="row collection-item contact no-padding">
        <div class="col s12">
          <span class="time grey-text lighten-5">{{contact.messages[contact.messages.length -1].time}}</span>
        </div>
        <div class="col s3">
          <div ng-switch="{{contact.state}}">
            <div ng-switch-when="busy">
              <div class="busy-badge" data-badge=""></div>
            </div>
            <div ng-switch-default>
              <div class="online-badge" data-badge=""></div>
            </div>
          </div>
          <img ng-src="{{contact.img}}" alt="" class="circle responsive-img">
        </div>
        <div class="col s7">
          <span class="title grey-text">{{contact.name}}</span><br />
          <span class="last-msg grey-text truncate">{{contact.messages[contact.messages.length -1].content}}</span><br />
        </div>
        <div class="col s2">
          &nbsp;
          <span class="badge notification" ng-if="contact.notifications != 0 ">{{contact.notifications}}</span>
        </div>
      </a>
    </li>
  </ul>
  <ul id="contacts" class="no-margin collection nav-container scroll">
    <li ng-repeat="contact in contacts">
      <a href="#!" ng-click="openChat($parent.$index, contact.id)" class="row collection-item contact">
        <div class="col s4">
          <div class="online-badge hide-on-med-and-down" data-badge=""></div>
          <img ng-src="{{contact.img}}" alt="Profile Picture" class="circle responsive-img">
        </div>
        <div class="col s8">
          <span class="title grey-text">{{contact.name}}</span><br />
        </div>
      </a>
    </li>
  </ul>
  <div id="searchFor">
    <form class="row">
      <div class="input-field col s11">
        <input id="search" placeholder="search for anything" class="materialize-textarea" ng-model="search" />
        <!-- <i class="material-icons">search</i> -->
      </div>
    </form>

    <ul class="no-margin collection search-container scroll">
      <li ng-repeat="contact in contacts | filter :search">
        <a href="" ng-click="openChat($parent.$index, contact.id)" class="row collection-item contact no-padding">
          <div class="col s12">
            <span class="time grey-text lighten-5">{{contact.messages[contact.messages.length -1].time}}</span>
          </div>
          <div class="col s3">
            <div class="online-badge hide-on-med-and-down" data-badge=""></div>
            <img ng-src="{{contact.img}}" alt="" class="circle responsive-img">
          </div>
          <div class="col s9">
            <span class="title grey-text">{{contact.name}}</span><br />
            <span class="last-msg grey-text truncate">{{contact.messages[contact.messages.length -1].content}}</span><br />
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
